[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
plotly = "*"
ipywidgets = ">=7.5"
ipykernel = "*"

[packages]
jupyter-book = "*"
cookiecutter = "*"
tensorflow = "*"
tensorflow-hub = "*"
nb-mermaid = "*"
jupyter = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"
