[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
plotly = "*"
jupyter-book = "*"
cookiecutter = "*"
tensorflow = "*"
tensorflow-hub = "*"
nb-mermaid = "*"
scikit-learn = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
